.main-content {
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
}

h1 {
    color: red;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

button {
    background-color: antiquewhite;
    margin-left: 5px;
}

.task {
    display: flex;
    justify-content: center;
}

.delete {
    background-color: aliceblue;
    border-radius: 50%;
    border-width: 1px;
    margin-left: 1rem;
}